<!-- About Section -->
    <section id="lodging">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lodging</h2>
                    <h3 class="section-subheading">There are multiple options for lodging in Ithaca, NY. The links will lead you to the respective on- and off-campus lodging options.</h3>
                
                    <ul style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">
                        <li><a href="https://statlerhotel.cornell.edu/">Statler Hotel</a> is located in the heart of Cornell’s campus, the Statler is an innovative leader in hospitality.</li>
                        <li><a href="https://www.bestwestern.com/en_US/book/hotels-in-ithaca/best-western-university-inn/propertyCode.33065.html">Best Western University Inn</a> is located in the heart of downtown along the Ithaca Commons, enjoy access to restaurants, shops, and entertainment.  Ride TCAT Bus #10 from the Seneca Street Parking Garage for easy access to campus.</li>
                        <li><a href="https://www.hilton.com/en/hotels/ithiggi-hilton-garden-inn-ithaca/">Hilton Garden Inn</a> is located in downtown Ithaca, opposite restaurants and bars at Ithaca Commons. The campuses of Ithaca College and Cornell University are both within a mile. We offer free WiFi, an indoor pool, and a 24-hour fitness center. For your convenience, The Shop 24 offers drinks and snacks 24 hours a day.</li>
                        <li><a href="https://www.thehotelithaca.com/">Hotel Ithaca</a> is located in downtown Ithaca. As the area's only independently owned hotel, the hotel provides a unique blend of comfort and convenience for visitors to this picturesque Finger Lakes town.</li>
                        <li><a href="https://www.argosinn.com/">The Argos Inn</a> is located in downtown Ithaca. A beautifully restored, LEED certified, historic mansion in the heart of Ithaca, NY. Formerly the Mayor's house and the Duncan Hines world headquarters.</li>
                        <li><a href="https://www.marriott.com/hotels/travel/ithmc-ithaca-marriott-downtown-on-the-commons/">Ithaca Marriott</a> is situated in the heart of Downtown Ithaca Commons, moments away from Cornell University and Ithaca College, our hotel invites you to embrace the season's vibrancy. Wander along restaurant row, explore local galleries, and indulge in boutique shopping—all just a stroll away.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>