<!-- About Section -->
    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">LOGISTICS AND ENTERTAINMENT</h2>
                </div>

                <!-- <div class="row text-center">
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="registration-heading">Flights</h4>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">to Syracuse (SYR, ~1 hour drive to Ithaca)</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">to NYC (LGA, JFK) to Ithaca (~1 hour 35 minutes)</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">to DC (DCA, IAD, BWI) to Ithaca (~1 hour 30 minutes)</p>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="registration-heading">Car</h4>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">~ 3 hrs 40 mins from Newark, NJ</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">~ 4 hrs 30 mins from JFK, NY</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">~ 4 hrs from Philly, PA</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">5 hrs 30 mins from Pittsburgh, PA</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">~ 5 hrs 40 mins from Boston, MA</p>
                    </div>
                </div> -->

                <div class="row text-center">
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="registration-heading">Food</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href=https://www.downtownithaca.com/directory/dining/>Restaurants in Downtown Ithaca</a></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" href="https://events.ces.scl.cornell.edu/NERC"></i>
                        <a href="https://events.ces.scl.cornell.edu/NERC"><i class="fa fa-map-marker fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="registration-heading">Venue Location</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href="https://www.google.com/maps/place/127+Hoy+Rd,+Ithaca,+NY+14850/data=!4m2!3m1!1s0x89d0818c9594451d:0xf4adfc243082aed?sa=X&ved=1t:242&ictx=111">127 Hoy Road, Ithaca, NY</a></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rss-square fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="registration-heading">WiFi Access</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href="https://it.cornell.edu/wifi">WiFi Instructions.</a></p>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="registration-heading">Activities</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href=https://statlerhotel.cornell.edu/step-outside/local-experiences>Things to do in Ithaca</a></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="registration-heading">Parking</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href="https://fcs.cornell.edu/departments/transportation-delivery-services/parking/short-term-parking-options">Cornell Campus Parking.</a></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" href="https://events.ces.scl.cornell.edu/NERC"></i>
                        <a href="https://events.ces.scl.cornell.edu/NERC"><i class="fa fa-info fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="registration-heading">Poster Printing</h4>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px;"><a href="https://locations.theupsstore.com/ny/ithaca/407-college-ave/poster-printing">UPS, </a><a href="https://local.fedex.com/en-us/ny/ithaca/office-3394">FedEx, </a><a href="https://stores.staples.com/ny/ithaca/744-south-meadow-street-suite-450">Staples, </a><a href="https://printservices.cornell.edu/home-page-0">Cornell Print Services, </a><a href="https://mann.library.cornell.edu/poster-specialty-printing">Mann Library</a>; 36"X48" (Portrait or Landscape); Poster boards will be provided.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>