<!-- Team Section -->
    <section id="organizers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ORGANIZERS</h2>
                    <h3 class="section-subheading text-muted">Questions? Email us at nerc2025.cornell@gmail.com</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="{{ member.website }}"><img src="img/team/{{ member.pic }}.png" class="img-responsive img-circle" alt="Clickable Image"></a>
                        <h4>{{ member.name }}</h4>
                        <h5>{{ member.position }}</h5>
                        <h6>{{ member.level }}</h5>
                        <h6>{{ member.department }}</h5>
                        <h6>{{ member.university }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for member in site.people2 %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="{{ member.website }}"><img src="img/team/{{ member.pic }}.png" class="img-responsive img-circle" alt="Clickable Image"></a>
                        <h4>{{ member.name }}</h4>
                        <h5>{{ member.position }}</h5>
                        <h6>{{ member.level }}</h5>
                        <h6>{{ member.department }}</h5>
                        <h6>{{ member.university }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for member in site.people3 %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="{{ member.website }}"><img src="img/team/{{ member.pic }}.png" class="img-responsive img-circle" alt="Clickable Image"></a>
                        <h4>{{ member.name }}</h4>
                        <h5>{{ member.position }}</h5>
                        <h6>{{ member.level }}</h5>
                        <h6>{{ member.department }}</h5>
                        <h6>{{ member.university }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>