<!-- Registration Section -->
<section id="registrations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">ABOUT</h2>
      </div>
      <div class="col-sm-10" style="float:none;margin:auto;">
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">The Northeast Robotics Colloquium (NERC) is a research meeting, networking event, job-fair, and showcase event for the robotics community in the Northeastern United States and Canada. We hope to promote a healthy and well-connected robotics community that will fuel the field’s rapid growth in the coming decade!</p>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;"><a href="https://events.ces.scl.cornell.edu/NERC">Registration for the NERC 2025 conference is now open.</a> Please read the registration information carefully before beginning the on-line registration. Registration can be submitted by completing the on-line form. All fees are quoted in USD dollars.<br><br></p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="registration-heading">Location</h4>
        <p class="text-muted">127 Hoy Road, Ithaca, NY 14853</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <a href="https://events.ces.scl.cornell.edu/NERC"><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></a>
        </span>
        <h4 class="registration-heading">Registration</h4>
        <p class="text-muted">Registration is open. No on-site registration is available.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-map-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="registration-heading">Posters</h4>
        <p class="text-muted">Accepted papers will be presented in a poster presentation.</p>
      </div>

      <p><br><br></p>

    </div>

    <div class="col-sm-9" style="float:none;margin:auto;">
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="registration-heading">Location</h4>
          <p class="text-muted">127 Hoy Road, Ithaca, NY 14853</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <a href="https://events.ces.scl.cornell.edu/NERC"><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></a>
          </span>
          <h4 class="registration-heading">Registration</h4>
          <p class="text-muted">Registration is open. No on-site registration is available.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-map-o fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="registration-heading">Posters</h4>
          <p class="text-muted">Accepted papers will be presented in a poster presentation.</p>
        </div>
      </div>
      
      <p><br><br></p>

      <table class="table table-bordered mx-auto">
        <tbody>
          <tr>
            <td>
              8:00 am
            </td>
            <td>
              Industry
            </td>
            <td>
              Faculty
            </td>
            <td>
              Students
            </td>
            <td>
              Deadline
            </td>
          </tr>
          <tr>
            <td>
              Regular (Early)
            </td>
            <td>
              $90
            </td>
            <td>
              $70
            </td>
            <td>
              $50
            </td>
            <td>
              September 3, 2025
            </td>
          </tr>
          <tr>
            <td>
              Late
            </td>
            <td>
              $120
            </td>
            <td>
              $90
            </td>
            <td>
              $90
            </td>
            <td>
              October 3, 2025
            </td>
          </tr>
        </tbody>
      </table>

      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;"><br><br><b><a href="https://events.ces.scl.cornell.edu/NERC">Regular Registration:</b></a> In order to receive the early bird registration fee, registrants must register and pay in full by September 3, 2025. If payment is not received by this date, then registrations will be automatically transferred to the Standard Registration fee.</p>
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;"><b><a href="https://events.ces.scl.cornell.edu/NERC">Student registration:</b></a> A student is defined as a holder of a student identification card from a recognised tertiary or secondary educational institution (e.g. a university or vocational education).</p>
      
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;"><b>Call for Submissions:</b> We invite submissions of extended abstracts that present recently published work, preliminary results, ongoing research, and demonstrations. Abstracts should be a maximum of two (2) pages for main content, with no page limit for references or supplementary materials, and submitted in PDF format. Accepted abstracts will be presented as posters. Selected outstanding submissions will be invited for spotlight talks to highlight their contributions.</p>
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;"><b>Important Dates</b><br>

      <ul style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">
          <li><b>Abstract Submission Deadline:</b> Tuesday, September 2, 2025
          <li><b>Regular Registration Deadline:</b> Wednesday, September 3, 2025
          <li><b>Late Registration Deadline:</b> Friday, October 3, 2025
          <li><b>Colloquium:</b> Saturday, October 11, 2025
    </div>
    
  </div>
</section>