<!-- About Section -->
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
      <!--</div>-->
      <div class="row justify-content-md-center text-center">
      <!--<div class="col col-md-8 align-self-center">-->
        <!-- <table class="table table-bordered mx-auto; margin-left: auto; margin-right: auto;"> -->
      
        <div class="col-sm-3 col-sm-7" style="float:none;margin:auto;">
        <table class="table table-bordered mx-auto left;" style="font-family: 'Times New Roman', Times, serif; font-size: 14px;">
          <tbody>
            <tr>
              <td>
                8:00 am
              </td>
              <td>
                Registration and Breakfast<br><i>Statler Hall</i>
              </td>
            </tr>
            <tr>
              <td>
                8:50 am
              </td>
              <td>
                Opening Remarks<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                9:00 am
              </td>
              <td>
                Keynote: Vickie Webster-Wood, Carnegie Mellon University<br>Talk Title: Robots for Biology and Biology for Robots – Interdisciplinary Research at the Interface of Biology and Robotics<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                9:30 am
              </td>
              <td>
                Rising Star: Jeffrey Lipton, Northeastern University<br>Talk Title: Robots with a Twist<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                9:45 am
              </td>
              <td>
                Rising Star: Uksang Yoo, Carnegie Mellon University<br>Talk Title: Learning to Leverage Softness and Hand Morphologies for Dexterity<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                10:00 am
              </td>
              <td>
                Posters, Sponsor and Lab Exhibits, and Coffee<br><i>Duffield Atrium</i>
              </td>
            </tr>
            <tr>
              <td>
                11:00 am
              </td>
              <td>
                Keynote Speaker: Wendy Ju, Cornell Tech<br>Talk Title: Urban-Scale HRI<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                11:30 am
              </td>
              <td>
                Rising Star: Laura Stegner, George Washington University<br>Talk Title: AI-Powered Robots to Support Healthcare Needs<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                11:45 am
              </td>
              <td>
                Rising Star: Ethan K. Gordon, University of Pennsylvania<br>Talk Title: Tractable Adaptability: Active Learning for Contact-Rich Manipulation and Assistive Robotics<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                12:00 pm
              </td>
              <td>
                Lunch<br><i>CIS Bowers Building</i>
              </td>
            </tr>
            <tr>
              <td>
                1:00 pm
              </td>
              <td>
                Keynote Speaker: Laura Herlant, Robotics and AI Institute<br>Talk Title: World Understanding for Robotics<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                1:30 pm
              </td>
              <td>
                Rising Star: Shivam Vats, Brown University<br>Talk Title: Lifelong Learning by Planning<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                1:45 pm
              </td>
              <td>
                Rising Star: Mingi Jeong, Dartmouth University/Virginia Tech<br>Talk Title: Robust Perception and Navigation of Autonomous Surface Vehicles in Challenging Environments<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                2:00 pm
              </td>
              <td>
                Posters, Sponsor and Lab Exhibits, and Coffee<br><i>Duffield Atrium</i>
              </td>
            </tr>
            <tr>
              <td>
                3:00 pm
              </td>
              <td>
                Keynote Speaker: Anirudha Majumdar, Princeton University<br>Talk Title: Robot Safety in the Era of Foundation Models<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                3:30 pm
              </td>
              <td>
                Rising Star: Gokul Swamy, Carnegie Mellon University<br>Talk Title: Efficient Interactive Learning: Teaching Robots to Focus<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                3:45 pm
              </td>
              <td>
                Rising Star: Runyu (Cathy) Zhang, Massachusetts Institute of Technology<br>Talk Title: Learning and Control for Scalable and Safe Multi-Agent Systems<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            <tr>
              <td>
                4:00 pm
              </td>
              <td>
                Closing Remarks<br><i>Alice Statler Auditorium</i>
              </td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>

      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Statler Hall, 106 Statler Dr, Ithaca, NY 14853
      </p>

      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Alice Statler Auditorium, 106 Statler Dr, Ithaca, NY 14853
      </p>

      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Duffield Atrium, 343 Campus Rd, Ithaca, NY 14853
      </p>

      <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">CIS Bowers Building, 127 Hoy Road, Ithaca, NY 14853
      </p>
      
      <!--</div>-->
    <!--</div>-->
  </div>
</section>